<!DOCTYPE html>
<html>

<head>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="../assents/css/begin.css">
	<meta name="viewport" content="width=device-width">
	<link href="https://fonts.googleapis.com/css?family=Arimo&display=swap" rel="stylesheet">
	<script type="text/javascript" src="../js/begin.js"></script>
</head>

<body>
	<header class="head">
		<div class="meio-head"></div>

		<div class="fim-head">
			
			<picture>
				<span>&#9660</span>
				<source srcset="" id="img" media="(min-width: 481px)">
				<img src="../assents/images/logo-if2.png" alt="logo">
			</picture>
			<div class="top logout">
				<p>Logout</p>
			</div>
			<button class="menu-toggle">
				<i  onclick="openNav()" class="material-icons menu-icon">
					menu
				</i>
			</button>

		</div>
	</header>

	<div class="side">

		<div class="inicio-head">
			<img class="logo-if" src="../assents/images/logo-if.png">
		</div>
		<div class="div-perfil">
			<img class="imagem-perfil" id="img" src="">
		</div>


		<h3 class="user"> </h3>
		<hr class="barra" />
		<nav class="menu">
			<ul style="list-style-type: none;">
				<li>
                    <a class="botao" id="boletim" href="#">Boletim</a>
                </li>
                <li>
                    <a class="botao" id="diario" href="#">Diario</a>
                </li>
                <li>
                    <a class="botao" id="horario" href="#">Horario</a>
                </li>
                <li>
                    <a class="botao" id="material" href="#">Material</a>
                </li>
                <li>
                    <a class="botao" id="matriz" href="#">Matriz</a>
                </li>
                <li>
                	<a class="botao" id="calendario" href="#">Calendário</a>
                </li>
			</ul>
		</nav>
	</div>

	<div class="conteudo-principal">
		
		<div id="mySidenav" class="sidenav">
			  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			  <a class="botao" id="boletim" href="#">Boletim</a>
			  <a class="botao" id="diario" href="#">Diario</a>
			  <a class="botao" id="horario" href="#">Horario</a>
			  <a class="botao" id="material" href="#">Material</a>
			  <a class="botao" id="matriz" href="#">Matriz</a>
			  <a class="botao" id="calendario" href="#">Calendário</a>
		</div>

		<script>
			const data = {}
			data["id_Matricula"] = document.URL.slice(7).split("/")[2]
			console.log(data)


			function openNav() {
			  document.getElementById("mySidenav").style.width = "250px";
			}

			function closeNav() {
			  document.getElementById("mySidenav").style.width = "0";
			}
		</script>

</html>