<!DOCTYPE html>
<html>

<head>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="../assents/css/begin.css">
	<meta name="viewport" content="width=device-width">
	<link href="https://fonts.googleapis.com/css?family=Arimo&display=swap" rel="stylesheet">
	<script type="text/javascript" src="../js/begin.js"></script>
</head>

<body>
	<header class="head">
		<div class="meio-head"></div>

		<div class="fim-head">
			
			<picture>
				<span>&#9660</span>
				<source srcset="../assents/images/avatar.png" id="img" media="(min-width: 481px)">
				<img src="../assents/images/logo-if2.png" alt="logo">
			</picture>
			<div class="top logout">
				<a  onclick="logout()" href="../">Logout</a>
			</div>
			<button class="menu-toggle">
				<i  onclick="openNav()" class="material-icons menu-icon">
					menu
				</i>
			</button>

		</div>
	</header>

	<div class="side">

		<div class="inicio-head">
			<img class="logo-if" src="../assents/images/logo-if.png">
		</div>
		<div class="div-perfil">
			<img class="imagem-perfil" id="img" src="../assents/images/avatar.png">
		</div>


		<h3 class="user"> </h3>
		<hr class="barra" />
		<nav class="menu">
			<ul style="list-style-type: none;">
				<li>
                    <a class="botao" id="boletim" href="#">Boletim</a>
                </li>
                <li>
                    <a class="botao" id="diario" href="#">Diario</a>
                </li>
                <li>
                    <a class="botao" id="horario" href="#">Horario</a>
                </li>
                <li>
                    <a class="botao" id="material" href="#">Material</a>
                </li>
                <li>
                    <a class="botao" id="matriz" href="#">Matriz</a>
                </li>
                <li>
                	<a class="botao" id="calendario" href="#">Calendário</a>
                </li>
			</ul>
		</nav>
	</div>

	<div class="conteudo-principal">
		
		<div id="mySidenav" class="sidenav">
			  <a class="closebtn" onclick="closeNav()">&times;</a>
			  <a class="botao" id="boletim" >Boletim</a>
			  <a class="botao" id="diario" >Diario</a>
			  <a class="botao" id="horario" >Horario</a>
			  <a class="botao" id="material" >Material</a>
			  <a class="botao" id="matriz" >Matriz</a>
			  <a class="botao" id="calendario">Calendário</a>
			  <a  onclick="logout()" href="../">Logout</a>
		</div>
	</div>

		<script>

			const data = {}
			const semestre = "semestre_2019_1"
			data["id_Matricula"] = document.URL.slice(8).split("/")[2]
			console.log(data)
			var monName = new Array ("JANEIRO", "FEVEREIRO", "MARÇO", "ABRIL", "MAIO", "JUNHO", "JULHO" ,"AGOSTO", "OUTUBRO", "NOVEMBRO", "DEZEMBRO")
			var now = new Date()
			const mesAtual = monName[now.getMonth()]
			console.log(mesAtual)


			function openNav() {
			  document.getElementById("mySidenav").style.width = "250px";
			}

			function closeNav() {
			  document.getElementById("mySidenav").style.width = "0";
			}
			function logout() {
				fetch(`/logout/${data.id_Matricula}`)
			}

				/**var inicialX;
				document.getElementById("mySidenav").addEventListener('touchstart', function(e) {
						var toqueobj = e.changedTouches[0];
						inicialX = toqueobj.pageX;
					}, false);
					//
					document.getElementById("mySidenav").addEventListener('touchmove', function(e){
						e.preventDefault();
					}, false)
					//
					document.getElementById("mySidenav").addEventListener('touchend', function(e){
						var toqueobj = e.changedTouches[0];
						var distancia = toqueobj.pageX - inicialX;
						if(distancia < 0){
							openNav()
						}
						if(distancia > 0){
							closeNav()
						}
					}, false)**/

						const body = document.getElementsByTagName('body')["0"]
						var inicialX;
						body.addEventListener('touchstart', function(e) {
							var toqueobj = e.changedTouches[0];
							inicialX = toqueobj.pageX;
						}, false);
						//
						/**body.addEventListener('touchmove', function(e){
							//e.preventDefault();
						}, false)
						**//**/
						body.addEventListener('touchend', function(e){
							var toqueobj = e.changedTouches[0];
							var distancia = toqueobj.pageX - inicialX;
							if(distancia < 0){
								openNav()
							}
							if(distancia > 0){
								closeNav()
							}
						}, false)
		</script>

</html>