<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="./assents/css/index.css">
    <title>Login</title>
</head>

<body>
    <div class="login-page">
        <div class="form">
            <h1>Login</h1>
            <form class="login-form" method="post" name="usuarioForm" >
                <input type="text" name="username" placeholder="Id Aluno" />
                <input type="password" name="password" placeholder="Senha" />
                <button>login</button>
            </form>

        </div>

    </div>
</body>

<script>
document.usuarioForm.onsubmit = async e => {
    e.preventDefault()
    const form = e.target
    const data = new FormData(form)
    const options = {
        method: form.method,
        body: new URLSearchParams(data)
    }
fetch('/fristlogin', options)
    .then(resp => resp.json())
    .then(res => {
        if(res[0] === true){
            const id_Matricula = res[1]
            window.location.href = `/aluno/${id_Matricula}`
            /**fetch(`/${res[1]}`, {method: "get"})
                .then(res=>{
                    window.location.href = `/${id_Matricula}`
            })**/
        }else{
            console.log("algo deu errado")
        }
    })
}
</script>

</html>