@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

@font-face {
  font-family: SFpro;
  src: url("../fonts/SFProText-Medium.ttf");
}
body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0;
  padding: 0;
}

.loading {
  display: none;
  position: absolute;
  top: 30%;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

h1 {
  font-family: SFpro;
  color: #707070;
  padding-bottom: 15px;
  margin-bottom: 40px;
}

.form {
  background: #FFFFFF;
  position: relative;
  max-width: 500px;
  margin: 0 auto 100px;
  padding: 50px 40px 0px 40px;
  height: 400px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 4px 9px 28px rgba(0, 0, 0, 0.16);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px 15px 15px 25px;
  box-sizing: border-box;
  font-size: 14px;
  margin-bottom: 30px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: linear-gradient(to bottom right, #00B894 , #60D3BD);
  border: 0;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: linear-gradient(to bottom right, #2f7360 , #60D3BD);
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4caf50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
}
button {
  width: 150px;
  height: 40px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 15px;
  border-radius: 30px;
}

.loading-fundo{
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  display: none;
  position: absolute;
  background-color: rgb(169, 169, 169, 0.7);
}

.item-1, 
.item-2, 
.item-3 {
  font-family: 'Open Sans', 'sans-serif';
  position: absolute;
  display: block;
  top: 10px;
  
  width: 60%;
  
  font-size: 1.6em;

  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.item-1{
  animation-name: anim-1;
}

.item-2{
  animation-name: anim-2;
}

.item-3{
  animation-name: anim-3;
}

@keyframes anim-1 {
  0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
  0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
  0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 25%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}
@media(max-width: 1080px){
  .item-1,.item-2,.item-3{
    display: none;
    animation-name: none;
  }
}