<table class="tabel" >
	<thead>
		<tr>
			<th style="top:0%;">Programação Orientada a Objetos</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="titulo">Professor(a):</td>
			<td style="width: 200px">CARLOS HENRIQUE</td>
		</tr>
		<tr>
			<td class="titulo" >Quantidade Aulas:</td>
			<td class="quantAula_AulasMinistradas">80</td>
		</tr>
		<tr>
			<td class="titulo">Aulas Ministradas:</td>
			<td class="quantAula_AulasMinistradas">64</td>
		</tr>
		<tr>
			<td class="titulo">Faltas:</td>
			<td style="width: 50px;padding-left: 110px">0</td>
		</tr>
		<tr>
			<td class="Ns">N1</td>
			
		</tr>
		<tr>
			<td class="titulo" >AV 01:</td>
			<td class="notas-css">9.60</td>
		</tr>
		<tr>
			<td class="titulo">AV 01:</td>
			<td class="notas-css">9.60</td>
		</tr>
		<tr>
			<td class="Ns">N2</td>
		</tr>
		<tr>
			<td class="titulo">AV 01:</td>
			<td class="notas-css">9.60</td>
		</tr>
		<tr>
			<td class="titulo">AV 01:</td>
			<td class="notas-css">9.60</td>
		</tr>
	</tbody>
</table>

<style>

.tabel{
	box-sizing: content-box;
	display: grid;
	grid-template-rows: 20% 80%; 
	border: solid 1px gray;
	border-radius: 15px;
	text-align: center;
	box-shadow: 2px 2px 1px 1px #000;
	width: 280px;/* muda */
	height: 490px;/* muda */
	padding-bottom: 1rem;/* muda */
	background-color: #fff;
	grid-template-areas: 
	'thead'
	'tbody'
}
.tabel thead{
	grid-area: thead;
	display: flex;
	width: 99.75%;
	height: 80%;
	border:solid 1px gray;
	background-color: #23997C;
	border-top-left-radius: 13px;
	border-top-right-radius: 15px;


}	
.tabel tbody {
	grid-area: tbody;
	display: grid;

}
td{
	padding-left: 20px;
}
.tabel thead tr{
	width:61%;/* muda */
}
.tabel thead tr th{
	display: inline;
	top:30%;
	position: relative;
	left: 30%;
	color: #fff;
	font-size: 1.3em;
	font-weight: bold;
}
/* muda */

.Ns{
	width: 239px;
	padding-left: 0;
	margin-left: 20px;
	display:block;
	border-bottom:1px solid rgba(83, 85, 84, 0.7)
}
.titulo{
	width: 100px;
	text-align: left
}
.notas-css{
	width: 50px;
	padding-left: 90px
}

.quantAula_AulasMinistradas{
	width: 50px;
	padding-left: 100px
}

/* muda */
</style>