<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assents/css/end.css">
    <title>Pagina Inexistente</title>
</head>
<body>
    <div>
        <h1>Ooops!!</h1>
        <h2>Erro 404, Página não encontrada.</h2>
        <button><a href="../">Voltar</a></button>
    </div>
</body>
</html>